AZURE_FOUNDRY_API_KEY=
AZURE_FOUNDRY_PROJECT_ENDPOINT=
AZURE_FOUNDRY_OPENAI_ENDPOINT=

KIMI_K2_6_AZURE_ENDPOINT=
KIMI_K2_6_AZURE_API_KEY=
KIMI_K2_6_AZURE_DEPLOYMENT=Kimi-K2.6

GPT_5_6_LUNA_AZURE_ENDPOINT=
GPT_5_6_LUNA_AZURE_API_KEY=
GPT_5_6_LUNA_AZURE_DEPLOYMENT=gpt-5.6-luna